langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-groq

faiss-cpu
chromadb

sentence-transformers

pypdf
pymupdf

python-dotenv

tiktoken

unstructured

faiss-cpu
chromadb

python-dotenv